[submodule "app/submodules/th-client-core"]
	path = app/submodules/th-client-core
	url = git@github.com:territorio/th-client-core.git
[submodule "app/submodules/th-client-views"]
	path = app/submodules/th-client-views
	url = git@github.com:territorio/th-client-views.git
[submodule "app/submodules/ember.js"]
	path = app/submodules/ember.js
	url = git@github.com:territorio/ember.js.git
[submodule "app/submodules/data"]
	path = app/submodules/data
	url = git@github.com:territorio/data.git
